.home{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    .content{
        width: 70%;
        *{
            margin-bottom: 30px;
        }
    }
}
.home-left{
    background: url(./../../../assets/twitter-logo.svg) no-repeat center center;
    background-size: 110vh;
    .content{
        color: #FFF;
    }
}